@charset "utf-8";
body {
    font-size: 13px;
    color: #565656;
}

body,
ul,
li,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
span,
form,
img,
div,
option,
input,
button,
checkbox {
    border: none;
    margin: 0;
    padding: 0;
    outline: 0 none;
    font-family: Arial, "微软雅黑";
}

* {
    margin: 0px;
    padding: 0px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
button,
input[type='button'] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    -webkit-appearance: none;
}

.hidden {
    display: none;
}

.clr {
    clear: both;
}

.clr:after {
    content: ' ';
    display: block;
    clear: both;
}

.conTxtToDot {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.text_center {
    text-align: center;
}

.color_red {
    color: #F44336;
}

.color_blue {
    color: #03A9F4;
}

.color_green {
    color: #4CAF50;
}

.color_gray {
    color: #b0afaf;
}

.color_orange {
    color: #e47107;
}


/* .indexContainer {
    background: #000000;
    background: -webkit-linear-gradient(to bottom, #434343, #000000);
    background: linear-gradient(to bottom, #434343, #000000); 
}*/

.indexContainer .inputArea {
    position: absolute;
    width: 100%;
    top: 18%;
    top: calc(40% - 150px);
}

.indexContainer .inputArea h2 {
    margin-bottom: 20px;
    color: #009688;
}

.indexContainer .inputArea h3 {
    margin: 20px;
    color: #009688;
}

.indexContainer .inputArea input {
    background: transparent;
    border-bottom: 1px solid #c6c5b9;
    padding: 10px 10px 10px 31px;
    color: #2f2f2f;
    font-size: 1.1em;
    margin-left: -25px;
}

.indexContainer .inputArea img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-top: -3px;
}

.indexContainer .inputArea>div {
    margin-bottom: 20px;
}

.indexContainer .btn {
    width: 212px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 3px;
    background-color: #4CAF50;
    border: 1px solid #fff;
    color: #fff;
}

.overlay {
    -webkit-filter: blur(140px);
    -moz-filter: blur(140px);
    -ms-filter: blur(140px);
    filter: blur(140px);
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    display: none;
    animation: breath 2s infinite alternate;
    -webkit-animation: breath 2s infinite alternate;
}

.searchList {
    border-bottom: 1px solid #c6c5b9;
}

.searchList li {
    padding: 10px;
    text-align: left;
    display: -webkit-flex;
    display: flex;
    border-top: 1px solid #c6c5b9;
}

.searchList li .content {
    -webkit-flex: 1;
    flex: 1;
}

.searchList li .operBtn img {
    padding-left: 20px;
}

@keyframes breath {
    from {
        -webkit-filter: blur(120px);
        -moz-filter: blur(140px);
        -ms-filter: blur(140px);
        filter: blur(140px);
    }
    to {
        -webkit-filter: blur(60px);
        -moz-filter: blur(60px);
        -ms-filter: blur(60px);
        filter: blur(60px);
    }
}

@-webkit-keyframes breath {
    from {
        -webkit-filter: blur(140px);
        -moz-filter: blur(140px);
        -ms-filter: blur(140px);
        filter: blur(140px);
    }
    to {
        -webkit-filter: blur(60px);
        -moz-filter: blur(60px);
        -ms-filter: blur(60px);
        filter: blur(60px);
    }
}

.overlayText {
    position: absolute;
    z-index: 4;
    color: #2b2b2b;
    font-size: 1.3em;
    top: 41%;
    text-align: center;
    width: 100%;
    display: none;
}

::-webkit-input-placeholder {
    color: #999;
}

:-moz-placeholder {
    color: #999;
}

::-moz-placeholder {
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}

.resultArea {
    display: none;
    font-size: 0.9em;
}

.resultArea .blockArea {
    margin-top: 277px;
}

.resultArea .subAreaFlex {
    display: -webkit-flex;
    display: flex;
}

.resultArea .subAreaFlex>div {
    -webkit-flex: 1;
    flex: 1;
}

.resultArea .subArea {
    color: #292c29;
    font-size: 1.2em;
    padding: 0 15px;
    border: 1px solid #c1c0b4;
    margin: 5px;
    border-radius: 3px;
}

.resultArea .subArea p {
    margin: 3px 0;
    line-height: 25px;
}

.resultArea .subArea2 p {
    margin: 15px 0;
    line-height: 25px;
}

.resultArea .subTitle {
    color: #009688;
    font-size: 1.3em;
    margin: 6px 10px;
}

.resultArea .againBtn {
    display: block;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #4CAF50;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 3px;
}

.spaceArea {
    position: relative;
    height: 1px;
    font-weight: 900;
}

.triangleUp {
    background: url(../img/triangle.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 84px;
    height: 53px;
    text-align: center;
    padding-top: 30px;
    color: #292c29;
}

.triangleDown {
    background: url(../img/triangle.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    color: #292c29;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 92px;
    height: 63px;
    text-align: center;
    padding-top: 30px;
}

.rectangle {
    position: absolute;
    width: 60px;
    height: 20px;
    text-align: center;
    padding-top: 10px;
    color: #292c29;
    border: 2px solid #babaae;
}

.triangleDown i {
    -webkit-transform: rotate(180deg) translateY(-18px);
    transform: rotate(180deg) translateY(-18px);
    display: block;
}

.triangleUp b {
    display: block;
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 1.1em;
}

.spaceArea>div.triangleUp:nth-child(1) {
    top: -15px;
    left: 23%;
}

.spaceArea>div.triangleUp:nth-child(2) {
    top: 35px;
    left: 23%;
}

.spaceArea>div.triangleUp:nth-child(3) {
    top: 46px;
    left: 1%;
}

.spaceArea>div.triangleUp:nth-child(4) {
    top: 45px;
    left: 47%;
}

.spaceArea>div.rectangle:nth-child(1) {
    top: 115px;
    left: 3%;
}

.spaceArea>div.rectangle:nth-child(2) {
    top: 115px;
    left: 22%;
    left: calc(25% - 0px);
}

.spaceArea>div.rectangle:nth-child(3) {
    top: 115px;
    left: 47%;
    left: calc(45% - -7px);
}

.spaceArea>div.rectangle:nth-child(4) {
    top: 115px;
    left: 42%;
    left: calc(45% - -88px);
    width: 80px;
}

.spaceArea>div.triangleDown:nth-child(1) {
    top: 134px;
    left: 1%;
}

.spaceArea>div.triangleDown:nth-child(2) {
    top: 134px;
    left: 47%;
}

.spaceArea>div.triangleDown:nth-child(3) {
    top: 145px;
    left: 23%;
}

.spaceArea>div.triangleDown:nth-child(4) {
    left: 23%;
    top: 200px;
}
.dialogWrap {
    display: none;
}
.dialogWrap .dialogOverlay{
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.dialogWrap .dialog{
    position: fixed;
    width: 300px;
    max-height: 250px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    border-radius: 6px;
   
}
.dialogWrap .dialog .content{
    padding: 10px;
    line-height: 25px;
    font-size: 17px;
}
.dialogWrap .dialog .content p{
    padding-bottom: 10px;
}
.dialogWrap .dialog .content p.red{
    color:#F44336;
}
.dialogWrap .dialog .oper{
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e3e3e3;
}
.dialogWrap .dialog  .oper a{
    display: block;
    color: #03a9f4;
}
.line{
    text-decoration: underline;
    color:#2196F3;
}